
  .graph-1 {
   display: flex;
    background: #dddff6;
    border-radius: 39px;
    width: 588px;
    height: 270px;
    position: absolute;
    left: 288px;
    top: 263px;
    box-shadow: 8px 6px 4px 0px rgba(0, 0, 0, 0.25);
  }
  #container-1,#container-2
  {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers elements horizontally */
    width: 50%; /* Adjust width if necessary */
    margin-left: 38px;
    margin-top: -52px;
  
  }

  #gauge-container{
    overflow: hidden;
    display: flex;
    background-color: white;
    position: relative;
    width: 167px;
    height: 209px;
    margin-top: 15px;
    padding-top: 31px;
    padding-bottom: 1px;
    border-radius: 15px;
    margin-left: 21px;

  }
  
    
  #gauge-container-1, #gauge-container-2{

    background-color: transparent;
    position: relative;
    width: 167px;
    height: 209px;
    margin-top: -73px;
  }
  #gauge{
    position: absolute;
    width: 167px;
    height: 209px;
    margin-top: 0px;
    background-color: transparent;
  }
  
  .gauge-label  {
    position: absolute;
    font-size: 12px;
    color: #000;
  }
  
  .label-left {
    left: 14px;
    top: 53%;
    font-size: 16px;
    transform: translateY(-50%);
  }
  
  .label-right {
    right: 14px;
    top: 53%;
    font-size: 16px;
    transform: translateY(-50%);
  }
  
  .label-middle {
    left: 48%;
    top: 48%;
    font-size: 20px;
    transform: translateX(-50%);
  }
  
 
  .placement {
    color: rgba(22, 26, 65, 0.53);
    background-color: transparent;
    margin-left: 80px;
    text-align: left;
    font-family: "Lato-Regular", sans-serif;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    width: 129.95px;
    height: 30.82px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .students-interested {
    color: rgba(0, 0, 0, 0.53);
    background-color: transparent;
    text-align: center;
    font-family:  sans-serif;
    font-size: 19px;
    font-weight: 400;
    margin-top: 36px; /* Adjust as needed */
  }
  .pie-container
  {
    background-color: white;
    border-radius: 15px;
    height: 87px;
    width: 182px;
    margin-top: 32px;
    margin-left: 16px;
    overflow: hidden;

  }
  .piechart {
    margin-top: 9px;
    margin-left: 8px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-image: conic-gradient(rgba(220,220,224,0.47) 30%, #6976eb 0 100%);
    animation: rotate 5s linear infinite;
  }
  ._65 {
    background-color: transparent;
    margin-left: 80px;
    color: #3b3d53;
    text-align: left;
    font-family: "Montserrat-SemiBold", sans-serif;
    font-size: 36px;
    font-weight: 600;
    position: relative;
    width: 101.63px;
    height: 30.82px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .drop-down-menu
  {
    overflow: hidden;
    background-color: white;
    display: flex;
    width: 187px;
    height: 35px;
    border-radius: 50px;
    margin-top: 20px;
    margin-left: 11px;
  }
  .drop-down-menu-2
  {
    overflow: hidden;
    background-color: white;
    display: flex;
    width: 187px;
    height: 45px;
    border-radius: 50px;
    margin-top: 20px;
    margin-left: 11px;
  }
  .drop-down-format
  {
    margin-left: 20px;
    margin-top: -6px;
    font-size: 25px;
  }
  #academicYear
  {
    margin-top: 10px;
    border-radius: 50px;
    width: 100px;
    height: 25px;
  }

  .YEAR-FONT
  {
    font-size: 25px;
    margin-top: 20px;
  }
  .DEPT-drop-down
  {
    font-size: 15px;
    align-self: center;
    border-radius: 50PX;
  }
  .DEPT-FONT
  {
    font-size: 15px;
    text-align: center;
    margin-left: 60px;
    font-weight: bold;
  }



  .Graph2{
    
     background: #dddff6;
     border-radius: 39px;
     width: 499px;
     height: 340px;
     position: absolute;
     left: 288px;
     top: 263px;
     box-shadow: 8px 6px 4px 0px rgba(0, 0, 0, 0.25);
     margin-left: 620px;
     margin-top: 10px;
   }
   .Graph3 {
    
    background: #dddff6;
    border-radius: 39px;
    width: 499px;
    height: 340px;
    position: absolute;
    left: 288px;
    top: 263px;
    box-shadow: 8px 6px 4px 0px rgba(0, 0, 0, 0.25);
    margin-left: 620px;
    margin-top: 370px;
  }
   

  .BAR-GRAPH
  {
    overflow: hidden;
    background-color: white;
    width: 470px;
    height: 290px;
    margin-top: -13px;
    margin-left: 18px;
    border-radius: 25px;
  }

  .BAR-GRAPH2
  {
    overflow: hidden;
    background-color: white;
    width: 470px;
    height: 290px;
    margin-top: -15px;
    margin-left: 18px;
    border-radius: 25px;
  }
  
  .high-pkg-text
  {
    margin-top: 3px;
    margin-left: 27px;

  }
 .avg-pkg-text
 {
  margin-top: 5px;
  margin-left: 30px;
 }

 .Graph4 {
  display: flex;
   background: #dddff6;
   border-radius: 39px;
   width: 588px;
   height: 419px;
   position: absolute;
   left: 288px;
   margin-top: 544px;
   box-shadow: 8px 6px 4px 0px rgba(0, 0, 0, 0.25);
 }

 .BarContainer
 {
  background-color: white;
  width: 550px;
  height: 353px;
  border-radius: 18px;
  margin-top: 46px;
  margin-left: 20px;
  display: flex;

 }
 .css-1evyvmv-MuiChartsSurface-root
 {
  margin-bottom: 5px;
  margin-top: 50px;
 }
 .css-huczy5-MuiResponsiveChart-container
 {
  height: 317px;
 }